<mat-nav-list>
  <mat-accordion>
    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          PURSUE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/pursue/clients" routerLinkActive="active" class="pointer">Active Clients
        </mat-list-item>
        <mat-list-item routerLink="/projects/active" routerLinkActive="active" class="pointer">Projects
        </mat-list-item>
        <mat-list-item routerLink="/pursue/teams" routerLinkActive="active" class="pointer">Teams
        </mat-list-item>
        <mat-list-item routerLink="/pursue/proposals" routerLinkActive="active" class="pointer">Manage Proposals
        </mat-list-item>
        <mat-list-item routerLink="/pursue/resumes" routerLinkActive="active" class="pointer">Resume Manager
        </mat-list-item>
        <mat-list-item routerLink="/pursue/resources" routerLinkActive="active" class="pointer">Resource Loading
        </mat-list-item>
        <mat-list-item routerLink="/pursue/rates" routerLinkActive="active" class="pointer">Staffing Management
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          RESEARCH
        </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/analytics/cost-indices/" routerLinkActive="active" class="pointer">Cost Indices
        </mat-list-item>
        <mat-list-item routerLink="/analytics/systems/" routerLinkActive="active" class="pointer">Systems
        </mat-list-item>
        <mat-list-item routerLink="/analytics/historical/" routerLinkActive="active" class="pointer">Historical Costs
        </mat-list-item>
        <mat-list-item routerLink="/analytics/trades/" routerLinkActive="active" class="pointer">Trade Labor
        </mat-list-item>
        <mat-list-item routerLink="/analytics/calculators/" routerLinkActive="active" class="pointer">Design Guides
        </mat-list-item>
        <mat-list-item routerLink="/analytics/calculators/" routerLinkActive="active" class="pointer">Calculators
        </mat-list-item>
        <mat-list-item routerLink="/analytics/references/" routerLinkActive="active" class="pointer">Code References
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          DESIGN
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/design/survey/" routerLinkActive="active" class="pointer">Survey
        </mat-list-item>
        <mat-list-item routerLink="/design/programming/" routerLinkActive="active" class="pointer">Programming
        </mat-list-item>
        <mat-list-item routerLink="/design/systems/" routerLinkActive="active" class="pointer">Systems Design
        </mat-list-item>
        <mat-list-item routerLink="/design/review/" routerLinkActive="active" class="pointer">Design Review
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>

    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ESTIMATE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/estimating/" routerLinkActive="active" class="pointer">Estimating
        </mat-list-item>
        <mat-list-item routerLink="/estimating/modeling" routerLinkActive="active" class="pointer">Cost Modeling
        </mat-list-item>
        <mat-list-item routerLink="/estimating/variance" routerLinkActive="active" class="pointer">Variance Reporting
        </mat-list-item>
        <mat-list-item routerLink="/estimating/items" routerLinkActive="active" class="pointer">Item Database
        </mat-list-item>
        <mat-list-item routerLink="/estimating/assemblies" routerLinkActive="active" class="pointer">Assemblies Catalog
        </mat-list-item>
        <mat-list-item routerLink="/estimating/database" routerLinkActive="active" class="pointer">Database Management
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          PROCURE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/controls/bidding" routerLinkActive="active" class="pointer">Active Bids
        </mat-list-item>
        <mat-list-item routerLink="/controls/history" routerLinkActive="active" class="pointer">Bid History
        </mat-list-item>
        <mat-list-item routerLink="/controls/analytics" routerLinkActive="active" class="pointer">Analytics
        </mat-list-item>
        <mat-list-item routerLink="/controls/vendors" routerLinkActive="active" class="pointer">Vendor Management
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          CONTROL
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/controls/budgets" routerLinkActive="active" class="pointer">Budgeting
        </mat-list-item>
        <mat-list-item routerLink="/controls/forecast" routerLinkActive="active" class="pointer">Cash Forecast
        </mat-list-item>
        <mat-list-item routerLink="/controls/inventory" routerLinkActive="active" class="pointer">Inventory
        </mat-list-item>
        <mat-list-item routerLink="/controls/schedule" routerLinkActive="active" class="pointer">Schedule
        </mat-list-item>
        <mat-list-item routerLink="/controls/contracts" routerLinkActive="active" class="pointer">Contracts
        </mat-list-item>
        <mat-list-item routerLink="/controls/wbs" routerLinkActive="active" class="pointer">WBS
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>


    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MANAGE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/management/actions" routerLinkActive="active" class="pointer">Planner
        </mat-list-item>
        <mat-list-item routerLink="/management/meetings" routerLinkActive="active" class="pointer">Meetings
        </mat-list-item>
        <mat-list-item routerLink="/management/calendar" routerLinkActive="active" class="pointer">Calendar
        </mat-list-item>
        <mat-list-item routerLink="/management/submittals/" routerLinkActive="active" class="pointer">Submittals
        </mat-list-item>
        <mat-list-item routerLink="/management/inspections/" routerLinkActive="active" class="pointer">Inspections
        </mat-list-item>
        <mat-list-item routerLink="/management/rfis/" routerLinkActive="active" class="pointer">RFIs
        </mat-list-item>
        <mat-list-item routerLink="/management/progress/" routerLinkActive="active" class="pointer">Progress Tracking
        </mat-list-item>
        <mat-list-item routerLink="/controls/analytics" routerLinkActive="active" class="pointer">Analytics
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>



    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          COMMISSION
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/cx/systems/" routerLinkActive="active" class="pointer">Systems
        </mat-list-item>
        <mat-list-item routerLink="/cx/punchlist/" routerLinkActive="active" class="pointer">Punchlist
        </mat-list-item>
        <mat-list-item routerLink="/cx/activations/" routerLinkActive="active" class="pointer">Activation
        </mat-list-item>
        <mat-list-item routerLink="/cx/presentations/" routerLinkActive="active" class="pointer">Presentations
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>



    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          MAINTAIN
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item routerLink="/maintenance/systems" routerLinkActive="active" class="pointer">Systems
        </mat-list-item>
        <mat-list-item routerLink="/maintenance/logs" routerLinkActive="active" class="pointer">Logs</mat-list-item>
        <mat-list-item routerLink="/maintenance/monitoring" routerLinkActive="active" class="pointer">Monitoring
        </mat-list-item>
        <mat-list-item routerLink="/maintenance/reporting" routerLinkActive="active" class="pointer">Reporting
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>



    <mat-expansion-panel [disabled]="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          SUCCESS
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item (click)="onNavigate()">Slack Channel</mat-list-item>
        <mat-list-item routerLink="/success/time" routerLinkActive="active" class="pointer">Time Tracking
        </mat-list-item>
        <mat-list-item routerLink="/success/expenses" routerLinkActive="active" class="pointer">Expenses</mat-list-item>
        <mat-list-item routerLink="/success/goals" routerLinkActive="active" class="pointer">Goal Setting
        </mat-list-item>
        <mat-list-item class="pointer">IT Support Requests</mat-list-item>
        <mat-list-item routerLink="/success/test-prep" routerLinkActive="active" class="pointer">Test Prep
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>


  </mat-accordion>
</mat-nav-list>
