<div class="layout-wrapper" fxLayout="column" fxFlex>
  <!-- Top Navigation Bar -->
  <mat-toolbar color="primary" fxLayout="row">
    <div class="navbar-container" fxLayout="row" fxLayoutAlign="space-between center"  >
      <div class="left-container" fxLayout="row" fxLayoutAlign="start center">
        <div class="toggle-container" fxLayout="column" fxLayoutAlign="center stretch">
          <button mat-icon-button (click)="sidenav.toggle()" fxShow="true"><i class="fal fa-bars"></i></button>
        </div>
        <div class="brand-container" fxLayout="column" fxLayoutAlign="center stretch" >
          <mat-nav-list>
            <mat-list-item routerLink="/dashboard" routerLinkActive="active">HCI TEAM ACCESS</mat-list-item>
          </mat-nav-list>

        </div>
      <!-- Search Bar -->
      <div class="search-container" fxFlex>
        <hci-search></hci-search>
      </div>
    </div>
      <!-- Icon Menu -->
      <div class="right-container" fxLayout="row" fxLayoutAlign="end center">
        <div class="icon-container" fxLayout="column" fxLayoutAlign="end center">
          <hci-icon-menu></hci-icon-menu>
        </div>
      </div>
    </div>
  </mat-toolbar>

  <!-- Side Navigation Drawer -->
  <mat-sidenav-container fxLayout="column" fxLayoutAlign="start stretch" style="height: 100%">
    <mat-sidenav #sidenav mode="side" style="width: 15vw; min-width: 250px;">
      <hci-team-sidenav></hci-team-sidenav>
    </mat-sidenav>
    <!-- Page Content -->
    <mat-sidenav-content>
      <!-- Navigation Header -->
      <mat-divider></mat-divider>
      <!-- Main Container -->
      <div class="main-container" >
        <router-outlet></router-outlet>
      </div>

      <!-- Footer -->

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
