<div class="icon-menu" fxLayout="column" >
    <mat-sidenav-container class="icon-container">
      <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-nav-list>

        <button mat-icon-button  [matMenuTriggerFor]="tenantMenu" >
          <i class="fal fa-cog"></i>
        </button>

        <button mat-icon-button routerLink="/files" >
          <i  class="fal fa-folder-open" ></i>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="notificationsMenu" >
          <i class="fal fa-bell"></i><span class="badge">8</span>
        </button>

        <button mat-icon-button routerLink="/chat" >
          <i class="fal fa-comment"></i><span class="badge" >2</span>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="tasksMenu">
          <i class="fal fa-check"></i><span class="badge">11</span>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <i class="fal fa-user"></i>
        </button>
      </mat-nav-list>
    </mat-sidenav>

      <mat-sidenav-content fxFlex>
        <button mat-icon-button class="icon-closer" (click)="sidenav.toggle()" fxFlex>
          <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fad"
          data-icon="angle-double-right"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          class="svg-inline--fa fa-angle-double-right fa-w-14 fa-1x"
        >
          <g class="fa-group">
            <path
              fill="currentColor"
              d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
              class="fa-secondary"
            ></path>
            <path
              fill="currentColor"
              d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
              class="fa-primary"
            ></path>
          </g>
        </svg>
      </button>

      </mat-sidenav-content>
    </mat-sidenav-container>


    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/account/profile">
        <i class="fal fa-user"></i>&nbsp; &nbsp; Profile</button>
        <button mat-menu-item (click)="onNavigate()">
          <i class="fal fa-question-circle"></i>&nbsp; &nbsp; Support</button>
          <button mat-menu-item  (click)="signOut()" ><i class="fal fa-sign-out"></i>&nbsp; &nbsp; Logout</button>
    </mat-menu>

    <mat-menu #tasksMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="modules/tasks/list" routerLinkActive="active" class="pointer">
        <i class="fal fa-clipboard-list-check"></i>&nbsp; &nbsp; Task List</button>
      <button mat-menu-item class="pointer">
        <i class="far fa-plus"></i>&nbsp; &nbsp; New Task</button>
    </mat-menu>

    <mat-menu #notificationsMenu="matMenu" xPosition="before">
      <button mat-menu-item  routerLink="notifications" routerLinkActive="active" class="pointer">
        No Notifications!</button>

    </mat-menu>


    <mat-menu #tenantMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="modules/tenants/teams" routerLinkActive="active" class="pointer">
        <i class="far fa-users"></i>&nbsp; &nbsp; Teams</button>
      <button mat-menu-item routerLink="modules/tenants/subscriptions" routerLinkActive="active" class="pointer">
        <i class="far fa-user"></i>&nbsp; &nbsp; Subscriptions</button>
      <button mat-menu-item routerLink="modules/tenants/billing" routerLinkActive="active" class="pointer">
        <i class="far fa-credit-card"></i>&nbsp; &nbsp; Billing</button>
      <button mat-menu-item routerLink="modules/tenants/settings" routerLinkActive="active" class="pointer">
        <i class="far fa-cogs"></i>&nbsp; &nbsp; Settings</button>


    </mat-menu>
</div>
