.icon-menu {

}
.mat-icon-button:hover {
color: rgb(231, 231, 231);
transform: scale(1.3);
transition-duration: 0.5s;
}

.icon-closer  {
  transform: rotate(-180deg);
  transition-duration: 0.5s;
  color: #ffffff;
  margin-top: 7.5px;
}

.icon-closer:hover  {
  transform: rotate(-0deg);
  transition-duration: 0.5s;
}

.icon-container {
  background: transparent;
  height: 100%;
}
.mat-sidenav {
  background: transparent;
  color: #ffffff;
}
.mat-sidenav-container {
  background: transparent;
  color: #ffffff;
  border-left: solid thin;
}
.mat-sidenav-content {
  background: transparent;
  color: #ffffff;

}
